.color-text-footer {
  color: $white;
}

.pos-right {
  align-self: flex-end;
}

.container-footer {
  display: flex;
  background-color: $cerulean;
  flex-direction: column;
  align-items: center;
}

.wrapper-footer {
  display: flex;
  flex-direction: column;
}
