$tech-green: #BED23C;

.container-tech {
  display: grid;
  max-width: 930px;
  grid-template-columns: [col] 200px [col] 100px [col] 200px;
  grid-template-rows: [row] 160px [row] 160px [row] 160px [row] 160px [row];
}

.tech {
  max-width: 200px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.tech-img {
  width: 100px;
  height: 100px;
}

.divisor-line {
  border: 1px solid $tech-green;
  grid-column: 2;
  grid-row: span 4;
  justify-self: center;
}

.tech-pos-1 {
  grid-row: 2 ;
}

.tech-pos-2 {
  grid-column: 3;
  grid-row: 1;
}

.tech-pos-3 {
  grid-column: 4;
  grid-row: 1 ;
}

.tech-pos-4 {
  grid-column: 3;
  grid-row: 3 ;
}

.tech-pos-5 {
  grid-column: 4;
  grid-row: 3;
}

.wrapper-tech {
  display: flex;
  justify-content: center;
}
