$tech-green: #BED23C;

.container-tech {
  display: flex;
}

.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: $tech-green;
  margin: 15px;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  text-align: center;
}

.tech:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inset 0 0 0 2px $tech-green;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tech:hover:after {
  content: '';
  top: 10px;
  left: 10px;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}

.text-big {
  font-size: 24px;
}

.tech-img {
  width: 100px;
  height: 100px;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}
