* {
  font-family: 'Roboto', sans-serif;
}

.title-image {
  width: 90px;
  height: 70px;
}

.title-decoration {
 position: relative;
 margin-left: -100px;
}

.title-decoration p {
  margin-left: -31px;
  margin-top: 28px;
}
