.title-image {
  width: 90px;
  height: 70px;
}

.title-decoration {
  margin-top: 80px;
  display: flex;
  align-items: center;
  align-self: baseline;
  padding-left: 50px;
}

.title-text {
  margin-left: -31px;
}
