.title-decoration {
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.title-image {
  width: 90px;
  height: 70px;
}

.title-text {
  position: absolute;
  margin-left: 57px;
  margin-top: 5px;
}
