@import '../../../../../scss/colors';

.border-container {
  border-bottom: 1px solid $DustyGray;
  border-left: 1px solid $DustyGray;
}

.board-row {
    clear: both;
    content: "";
    display: table;
}
