@import '../../../scss/colors';

.container-tech {
  display: grid;
  max-width: 930px;
  grid-template-columns: [col] 200px [col] 100px [col] 200px;
  grid-template-rows: [row] 160px [row] 160px [row] 160px [row] 160px [row];
}

.divisor-line {
  border: 1px solid $earls-green;
  grid-column: 2;
  grid-row: span 4;
  justify-self: center;
}

.title-decoration {
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.title-image {
  width: 90px;
  height: 70px;
}

.title-text {
  position: absolute;
  margin-left: 57px;
  margin-top: 5px;
}

.tech {
  max-width: 200px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.tech-img {
  width: 100px;
  height: 100px;
}

.tech-pos-1 {
  grid-row: 2 ;
}

.tech-pos-2 {
  grid-column: 3;
  grid-row: 1;
}

.tech-pos-3 {
  grid-column: 4;
  grid-row: 1 ;
}

.tech-pos-4 {
  grid-column: 3;
  grid-row: 3 ;
}

.tech-pos-5 {
  grid-column: 4;
  grid-row: 3;
}

.text-big {
  font-size: 24px;
  display: block;
}

.text-medium {
  font-size: 16px;
  display: block;
}

.text-small {
  font-size: 12px;
  display: block;
}


.wrapper-tech {
  display: flex;
  justify-content: center;
}

/**** Responsive ****/
@media only screen and (max-width: 1024px) {

  .color-text-footer:last-child {
    align-self: center;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .divisor-line {
    display: none;
  }

  .tech {
    border-bottom: 1px solid $earls-green;
  }

  .tech:last-child {
    border-bottom: none;
  }

  .text-small {
    display: inline-block;
  }

  .title-decoration {
    margin-top: 190px;
  }

  .wrapper-tech > div {
    display: inline-block;
  }
}