$Alabaster: #F7F7F7;
$Alto: #DDD;
$Turquoise: #45D6D6;
$Scooter: #2CBBBB;
$JungleGreen: #27A0A0;
$White: #FFF;
$Tundora: #4D4D4D;
$Black: #000;
$MineShaft: #333;
$Emperor: #555;
$earls-green: #BED23C;
$shadow-black: rgba(0, 0, 0, 0.30);
$DodgerBlue: #14B9FF;
$Gray: #888;
$Alto: #d8d8d8;
$Anakiwa: #7dd8ff;
$OldBrick: #9B1C26;